@{
    string strTitle = "Панель Администратора";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <div class="div-box">
            <a asp-area="Admin" class="btn btn-info div-box" asp-controller="Users" asp-action="Index" asp-route-id="">Упраление пользователями</a>
        </div>
    </div>
    <div>
        <div class="div-box">
            <a asp-area="Admin" class="btn btn-secondary div-box" asp-controller="Roles" asp-action="Index" asp-route-id="">Управление ролями</a>
        </div>
    </div>
</div>


