@model IQueryable<ServiceItem>
@{
    string strTitle = "Панель Менеджера";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
        <h3>Активные заказы</h3>
        <a asp-area="Manager" class="btn btn-info div-box" asp-controller="Order" asp-action="Index" >Заказы</a>
    </div>
    <div>
        <h3>Наши услуги</h3>
            <a asp-area="Manager" class="btn btn-secondary div-box" asp-controller="ServiceItems" asp-action="Edit" asp-route-id="">Добавить услугу</a>
            <a asp-area="Manager" class="btn btn-info div-box" asp-controller="ServiceItems" asp-action="Show" asp-route-id="">Просмотр услуг</a>
    </div>
    <div>
        <h3>Наши Товары</h3>
            <a asp-area="Manager" class="btn btn-secondary div-box" asp-controller="Product" asp-action="Edit" asp-route-id="">Добавить товар</a>
            <a asp-area="Manager" class="btn btn-info div-box" asp-controller="Product" asp-action="Show" asp-route-id="">Просмотр товаров</a>
    </div>
    <div>
        <h3>Редактировать страницы сайта</h3>
        <a asp-area="Manager" class="btn btn-info div-box" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageIndex">Главная</a>
        <a asp-area="Manager" class="btn btn-info div-box" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageServices">Наши услуги</a>
        <a asp-area="Manager" class="btn btn-info div-box" asp-controller="TextFields" asp-action="Edit" asp-route-codeWord="PageContacts">Контакты</a>
    </div>
</div>


