@model IQueryable<Product>
@{
    TextField textField = ViewBag.TextField;

    ViewBag.Title = textField.MetaTitle;
    ViewBag.Description = textField.MetaDescription;
    ViewBag.Keywords = textField.MetaKeywords;
}
<title>Все товары</title>
<div>
    @if (Model.Any())
    {
    <ul class="big-image-list">
        @foreach (Product entity in Model)
        {
            @if (entity.available == true)
            {
                <li>
                    <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@entity.Id">
                        <img src="~/images/@entity.TitleImagePath" alt="" class="left" />
                    </a>
                    <h4>@entity.Title</h4>
                    <p>@entity.Subtitle</p>
                    <a class="bnt btn-warning" asp-area="" asp-controller="Basket" asp-action="addToBasket" asp-route-id="@entity.Id">Добавить в корзину</a>
                </li>
            }
        }
    </ul>
    }
</div>
