@model LoginViewModel
<div>
    <h1>Вход в личный кабинет</h1>
        <div class="px-4 py-3">
            <div class="mb-3">
                <form asp-area="" asp-controller="Account" asp-action="Login" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                    <div>
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control" placeholder="Имя пользователя">
                        <span asp-validation-for="UserName"></span>
                    </div>
                    <div>
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" placeholder="Пароль" />
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div>
                        <label asp-for="RememberMe" class="form-check-label"></label>
                        <input asp-for="RememberMe" class="form-check-input" />
                        <span asp-validation-for="RememberMe"></span>
                    </div>
                    <div>
                        <input class="btn btn-primary" type="submit" value="Войти" />
                    </div>
                </form>
            </div>
        </div>
        <a class="btn btn-light" asp-area="" asp-controller="Account" asp-action="Register">Зарегестрироваться?</a>
</div>