@model MyAccountViewModel

<div>
    <p>Личный кабинет</p>
    <div class="div-box">
        <form method="post" asp-controller="Account" asp-action="Logout">
            <input type="submit" class="btn btn-danger" value="Выйти" />
        </form>
    </div>
</div>